.navbar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  height: 120px;
}

.navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 140px;
}

.spacer {
  flex: 1;
}

.navbar-logo {
  cursor: pointer;
  background-image: url('./images/logo.png');
  background-size: cover;
  height: 34px;
  width: 196px;
}

.navigation-items {
  display: flex;
  font: bold 11px Arial, sans-serif;
  color: #767676;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: red;
}

.main {
  margin-top: 60px;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 15px;
  height: 1px;
  background-color: black;
}
