@font-face {
  font-family: "Springville Regular";
  src: url("./fonts/Springville-Regular3.otf");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("./fonts/ACaslonPro-Regular.otf");
}

$min_width: 320px;
$max_width: 1440px;
$med_grey: #767676;

html {
  box-sizing: border-box;
  min-width: $min_width;
}

.height-spacer {
  flex: 1;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
}
.navbar {
  position: fixed;
  width: 100%;
  max-width: $max_width;
  top: 0;
  background-color: white;
  height: 120px;
  z-index: 20;
}

.navbar-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: calc(100vw * 0.1);
  padding-right: calc(100vw * 0.1);
}

.navbar-logo {
  cursor: pointer;
  background-image: url("./images/logo.png");
  background-size: cover;
  height: 34px;
  width: 196px;
}

.navigation-items {
  display: flex;
  font: bold 11px Arial, sans-serif;
  color: $med_grey;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: #e0e0e0;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: $max_width;
  width: 100vw;
  height: 680px;
  top: 120px;
}

.my-carousel .carousel .carousel-slider {
  top: 120px;
  height: 680px;
  background: transparent;
}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  margin-left: -18px;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: $max_width;
  z-index: 10;
  top: 25%;
  color: white;
}

.overlay-text {
  padding-left: calc(100vw * 0.1);
  padding-right: calc(100vw * 0.1);
}

.overlay h1 {
  font-family: "Springville Regular", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.overlay h3 {
  font-family: "Adobe Caslon Pro", serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.overlay p {
  font-family: "Adobe Caslon Pro", serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: -15px;
}

.masonry-wrapper {
  display: flex;
  justify-content: center;
}

.masonry {
  margin-top: 75px;
  column-count: 3;
  column-gap: 4em;
  width: 100%;
  max-width: 1160px;
}

.masonry-item {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 1px solid $med_grey;
  cursor: pointer;
}

.masonry-img {
  width: 100%;
}

.masonry-item-date {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  color: $med_grey;
  margin-top: 40px;
  margin-bottom: 15px;
}

.masonry-item-title {
  font-family: "Springville Regular", serif;
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.masonry-item-title:hover {
  text-decoration: underline;
}

.masonry-item-presented {
  font-family: "Adobe Caslon Pro", sans-serif;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 50px;
}

.presenter-text {
  text-decoration: underline;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 0;
  font-family: "Arial Bold", sans-serif;
  font-size: 11px;
}

.footer-link {
  text-decoration: underline;
  cursor: pointer;
}

.footer-link:hover {
  color: #767676;
}

@media only screen and (min-width: 1440px) {
  .navbar-navigation {
    padding-left: 140px;
    padding-right: 140px;
  }

  .overlay-text {
    padding-left: 140px;
  }
}

@media only screen and (min-width: 747px) and (max-width: 1260px) {
  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 747px) {
  .carousel {
    height: calc(100vw * 0.9);
  }

  .my-carousel .carousel.carousel-slider {
    height: calc(100vw * 0.9);
    overflow: hidden;
  }

  .image-slide img {
    height: calc(100vw * 0.75);
  }

  .overlay {
    top: calc(100vw * 0.4);
  }

  .overlay h1 {
    font-size: 55px;
    line-height: 40px;
  }

  .overlay h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay p {
    font-size: 15px;
    margin-top: -20px;
  }

  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
    margin-top: 100px;
  }

  .masonry-item-title {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 450px) {
  .carousel {
    height: calc(100vw * 0.9);
    top: 50px;
  }

  .overlay {
    top: calc(100vw * 0.2);
  }

  .overlay h1 {
    font-size: 50px;
    line-height: 40px;
  }

  .overlay h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay p {
    font-size: 15px;
    margin-top: -20px;
  }

  .my-carousel .carousel .carousel-slider {
    height: calc(100vw * 0.9);
  }

  .navbar {
    height: 50px;
    min-width: $min_width;
  }

  .navbar-login {
    display: none;
  }

  .navbar-phone {
    display: none;
  }

  .image-slide img {
    height: calc(100vw * 0.75);
  }

  .footer {
    font-size: 8px;
    padding: 25px;
  }

  .masonry {
    column-count: 1;
    width: 90%;
    column-gap: 5%;
    margin-top: 50px;
  }

  .masonry-item-title {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 400px) {
  .overlay {
    top: calc(100vw * 0.17);
  }

  .masonry {
    column-count: 1;
    width: 90%;
    column-gap: 5%;
    margin-top: 50px;
  }

  .masonry-item-title {
    font-size: 40px;
    word-wrap: break-word;
    line-height: 45px;
  }
}
