html {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 1200px;
  overflow: scroll;
}

.navbar {
  position: sticky;
  width: 100%;
  max-width: 1440px;
  top: 0;
  left: 0;
  background-color: white;
  height: 120px;
}

.navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 140px;
}

.spacer {
  flex: 1;
}

.navbar-logo {
  cursor: pointer;
  background-image: url('./images/logo.png');
  background-size: cover;
  height: 34px;
  width: 196px;
}

.navigation-items {
  display: flex;
  font: bold 11px Arial, sans-serif;
  color: #767676;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: red;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 10px;
  height: 1px;
  background-color: black;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: 1440px;
  width: 100vw;
  height: 680px
}

.my-carousel.carousel.carousel-slider {
  top: 0;
  height: 680px;
  background: transparent;

}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: -10px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  width: 100%;
  margin-left: 140px;
  max-width: 1440px;
  z-index: 10;
  top: 25%;
  color: white;
}

.overlay h1 {
  margin: 0;
  padding: 0;
}
