@font-face {
  font-family: 'Springville Regular';
  src: url('./fonts/Springville-Regular3.otf');
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('./fonts/ACaslonPro-Regular.otf');
}

$min_width: 320px;
$max_width: 1440px;

html {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 1200px;
  overflow: scroll;
}

.navbar {
  position: sticky;
  width: 100%;
  max-width: $max_width;
  top: 0;
  left: 0;
  background-color: white;
  height: 120px;
}

.navbar-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: calc(100vw *.1);
  padding-right: calc(100vw *.1);
}

.spacer {
  flex: 1;
}

.navbar-logo {
  cursor: pointer;
  background-image: url('./images/logo.png');
  background-size: cover;
  height: 34px;
  width: 196px;
}

.navigation-items {
  display: flex;
  font: bold 11px Arial, sans-serif;
  color: #767676;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: red;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 10px;
  height: 1px;
  background-color: black;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: $max_width;
  width: 100vw;
  height: 680px;
}

.my-carousel .carousel .carousel-slider {
  top: 0;
  height: 680px;
  background: transparent;
}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: -10px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: $max_width;
  z-index: 10;
  top: 25%;
  color: white;
}

.overlay-text {
  padding-left: calc(100vw * .1);
}

.overlay h1 {
  font-family: 'Springville Regular', serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.overlay h3 {
  font-family: 'Adobe Caslon Pro', serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.overlay p {
  font-family: 'Adobe Caslon Pro', serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: -15px;
}

@media only screen and (min-width: 1440px) {

  .navbar-navigation {
    padding-left: 140px;
    padding-right: 140px;
  }

  .overlay-text {
    padding-left: 140px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 907px) {

  .carousel {
    height: calc(100vw * .75);
  }

  .my-carousel .carousel.carousel-slider {
    height: calc(100vw * .75);
    overflow: hidden;
  }

  .image-slide img {
    height: calc(100vw * .6);
  }

}

@media only screen and (max-width: 415px) {

  .carousel {
    height: calc(100vw * .75);
  }

  .my-carousel .carousel .carousel-slider {
    height: calc(100vw * .75);
  }

  .navbar {
    height: 50px;
  }

  .navbar-login {
    display: none;
  }

  .navbar-phone {
    display: none;
  }

  .image-slide img {
    height: calc(100vw * .6);
  }


}
